# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local
.env.*.local

# Database
*.db
*.sqlite3

# Logs
logs/
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# 가상환경-문병준
bmoenv
get-pip.py
/CocktailRecommendationService/app/service/bert_model/best_model.pt
/CocktailRecommendationService/app/service/bert_model/special_tokens_map.json
/CocktailRecommendationService/app/service/bert_model/tokenizer.json
/CocktailRecommendationService/app/service/bert_model/tokenizer_config.json
/CocktailRecommendationService/app/service/bert_model/vocab.txt
/CocktailRecommendationService/app/service/models/1_data_preprocessing.ipynb
/CocktailRecommendationService/app/service/models/2_model_training.ipynb
/CocktailRecommendationService/app/service/models/3_model_score.ipynb
/CocktailRecommendationService/app/service/models/4_inference_demo.ipynb
/CocktailRecommendationService/app/service/models/bert_model/best_model.pt
/CocktailRecommendationService/app/service/models/bert_model/tokenizer.json
/CocktailRecommendationService/app/service/models/bert_model/special_tokens_map.json
/CocktailRecommendationService/app/service/models/bert_model/tokenizer_config.json
/CocktailRecommendationService/app/service/models/bert_model/vocab.txt
/CocktailRecommendationService/app/service/models/recommend/bert_model/best_model.pt
/CocktailRecommendationService/app/service/models/textExtraction/bert_model/best_model.pt
