# Exclude Python bytecode files
*.pyc

# Exclude virtual environments
venv/

# Exclude LFS files
*.dll
*.lib

# Ignore the bert model directory
text-model/models/bert_model/

# Ignore the myenv directory (if used)
myenv/
