<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cocktail Recommendation Service</title>
<!--<<<<<<< HEAD-->
<!--</head>-->
<!--<body>-->
<!--    <h1>PostgreSQL 데이터 조회 결과</h1>-->

<!--    {% if data %}-->
<!--    <table border="1">-->
<!--        <tr>-->
<!--            {% for column in data[0].keys() %}-->
<!--            <th>{{ column }}</th>-->
<!--            {% endfor %}-->
<!--        </tr>-->
<!--        {% for row in data %}-->
<!--        <tr>-->
<!--            {% for value in row.values() %}-->
<!--            <td>{{ value }}</td>-->
<!--            {% endfor %}-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--    </table>-->
<!--    {% else %}-->
<!--    <p>데이터가 없습니다.</p>-->
<!--    {% endif %}-->
<!--</body>-->
<!--=======-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <nav class="nav">
          <div class="nav__menu-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-6"
            >
              <path
                fill-rule="evenodd"
                d="M2.625 6.75a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875 0A.75.75 0 0 1 8.25 6h12a.75.75 0 0 1 0 1.5h-12a.75.75 0 0 1-.75-.75ZM2.625 12a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0ZM7.5 12a.75.75 0 0 1 .75-.75h12a.75.75 0 0 1 0 1.5h-12A.75.75 0 0 1 7.5 12Zm-4.875 5.25a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875 0a.75.75 0 0 1 .75-.75h12a.75.75 0 0 1 0 1.5h-12a.75.75 0 0 1-.75-.75Z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <div class="nav__main-title">🍸Cocktail Recommendation Service</div>
        </nav>
      </header>
      <main>
        <div class="description">
          <img class="description__img" src="../static/images/drink.jpg" />
          <article class="description__service">
            <span class="text-highlight">
              "나만의 완벽한 칵테일을 찾아보세요!"
            </span>
            <div>
              칵테일에 입문하고 싶지만, 어떤 칵테일이 있고 나에게 딱 맞을지
              고민되시나요? 우리의 AI 기반 칵테일 추천 서비스는 원하는 맛과
              재료를 입력하면, GPT의 강력한 추천 알고리즘을 활용해 사용자만을
              위한 칵테일을 제안합니다.
            </div>
            <div>
              <div>
                <span class="text-highlight">✅ 원하는 맛 </span>
                (달콤한, 상큼한, 쌉싸름한 등)
              </div>
              <div>
                <span class="text-highlight">✅ 손에 있는 재료 </span>
                (예: 럼, 진, 과일 등)
              </div>
            </div>
            <div>
              이제 몇 가지 간단한 입력만으로 당신의 취향에 완벽히 어울리는
              칵테일을 만들어 보세요! 초보자부터 칵테일 애호가까지, 모두가 즐길
              수 있는 서비스를 제공합니다.
            </div>
            <div>
              "한 잔의 칵테일이 완벽한 순간을 만들어줍니다. 지금 시작하세요!"
            </div>
          </article>
        </div>
        <form class="cocktail-in-output">
          <div class="cocktail-in-output__container">
            <input
              class="cocktail-input"
              type="text"
              placeholder="원하는 칵테일을 설명해주세요 ex) 맛, 향, 재료 등"
              required
            />
            <input class="cocktail-input__btn" type="submit" />
          </div>
          <div class="cocktail-output">ChatGPT가 칵테일을 만들 준비중...</div>
        </form>
        <div class="cocktail-list">
          <!-- <div class="cocktail-list__card">
            <a href="{{ url_for('detail', id='first')}}">
              <div class="card__image">칵테일 이미지</div>
              <div class="card__title">1번 칵테일</div>
              <div class="card__summary">재료: ...</div>
            </a>
          </div> -->
        </div>
      </main>
      <footer></footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="../static/js/gpt.js"></script>
    <script src="../static/js/index.js"></script>
    <script src="../static/js/nav.js"></script>
    <script src="../static/js/card.js"></script>
  </body>
</html>
