* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  margin: 0;
  padding-top: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  min-width: 835px;
  height: 3000px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  background-color: rgba(45, 44, 54, 0.9);
  z-index: 100;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav__menu-icon {
  width: 48px;
  cursor: pointer;
  margin-left: 8px;
}

.nav__main-title {
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav__login-state {
  margin-right: 8px;
  display: flex;
  align-items: center;
  color: #ffffff;
  gap: 8px;
}

.log-in-out {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 30px;
  background-color: #604fb8;
  font-size: 0.8rem;
  border-radius: 5px;
}

main {
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.description {
  display: flex;
  align-items: center;
  width: 90%;
  gap: 30px;
}

.description__img {
  width: 30%;
  height: auto;
  max-width: 450px;
  min-width: 320px;
}

.description__service {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1rem;
}

.text-highlight {
  font-weight: 500;
}

.cocktail-in-output {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.cocktail-in-output__container {
  width: 95%;
  display: flex;
  gap: 8px;
}

.cocktail-input {
  font-size: 20px;
  height: 60px;
  border-radius: 20px;
  flex: 9;
}

.cocktail-input__btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.cocktail-output {
  width: 100%;
  height: 700px;
  background-color: #2d2d2e;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 3%;
  overflow-y: auto; /* 텍스트 일정 이상일 시 스크롤 생성 */
}

.cocktail-output::-webkit-scrollbar {
  width: 0; /* 수직 스크롤바 너비를 제거 */
  height: 0; /* 수평 스크롤바 높이를 제거 */
}

.cocktail-list {
  width: 100%;
  margin-top: 50px;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cocktail-list__card {
  margin: auto;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  margin-top: 50px;
  background-color: #604fb8;
  border-radius: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}

.card__image {
  margin-top: 20px;
  width: 260px;
  height: 260px;
  background-color: #2d2d2e;
}

.card__title {
  margin-top: 10px;
}

.card__summary {
  font-weight: 600;
}

footer {
  width: 100%;
  height: 50px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  width: 700px;
  height: 840px;
  background-color: #604fb8;
  border-radius: 20px;
}

.modal__close-btn {
  cursor: pointer;
  margin-left: auto;
  svg {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 1000px) {
  .cocktail-list {
    grid-template-columns: 1fr 1fr;
  }
}
